<!--
  ~ Hibernate, Relational Persistence for Idiomatic Java
  ~
  ~ License: GNU Lesser General Public License (LGPL), version 2.1 or later.
  ~ See the lgpl.txt file in the root directory or <http://www.gnu.org/licenses/lgpl-2.1.html>.
  -->
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>

        <!-- Database connection settings -->
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/training</property>
        <property name="connection.username">root</property>
        <property name="connection.password">root</property>

        <!-- JDBC connection pool (use the built-in) -->
        <property name="connection.pool_size">10</property>

        <!-- SQL dialect -->
        <property name="dialect">org.hibernate.dialect.MySQL55Dialect</property>

        <!-- Disable the second-level cache  -->
        <!-- <property name="cache.provider_class">org.hibernate.cache.internal.NoCacheProvider</property> -->

		<property name="hibernate.cache.region.factory_class">
				org.hibernate.cache.ehcache.EhCacheRegionFactory</property>
				
		<property name="hibernate.cache.use_second_level_cache">true</property>
		
		<property name="hibernate.cache.use_query_cache">true</property>

        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">true</property>

        <!-- Drop and re-create the database schema on startup -->
        <property name="hbm2ddl.auto">update</property>

       <!-- <mapping resource="org/hibernate/tutorial/hbm/Event.hbm.xml"/> -->
       <!-- <mapping class="com.entity.Message"/> -->
       		<mapping resource="Message.hbm.xml"/>
       		<mapping class="com.entity.Customer"/>
       		<mapping class="com.entity.Account"/>
       		<mapping class="com.entity.BankTransaction"/>
       		<mapping class="com.entity.SavingsAccount"/>
       		
    
    </session-factory>

</hibernate-configuration>